<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Home page - Chat Room</title>
    <style type="text/css">
    html {font-size: 62.5%}
    html,body,div,ul,li,p,input {padding: 0;margin: 0;border: 0;outline: 0}
    a {outline: 0;text-decoration: none}
    body {font-size: 10px;font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;margin-top: 0;}
    img,video {vertical-align: bottom}
    ul {list-style-type: none}
    .hidden{
        display: none !important;
    }
    .main{
        width: 90%;
        max-width: 960px;
        margin: 0 auto;
    }
    .msg-box{}
    .msg-list{}
    .msg-item{}
    .msg-wrapper{}
    .msg-sender{}
    .msg-content{}
    .my-box{}
    .info-input{}
    .text-box{
        font-size: 14px;
        width: 100%;
        resize: none;
    }
    #toast{}
    #toast.show-toast{}
    </style>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="room-info hidden">
                You're in Room <span id="roomId"></span>
            </div>
            <button id="leaveBtn" class="act-btn2 hidden">Leave chat room</button>
        </div>
        <div class="msg-box">
            <ul id="msgList" class="msg-list"></ul>
        </div>
        <div class="my-box">
            <textarea id="myMsg" class="text-box" rows="6"></textarea>
            <button id="submitBtn" class="act-btn">Submit</button>
        </div>

        <!-- select room dialog [start] -->
        <div id="selectRoom" class="mask">
            <div class="dialog">
                <p>Please input user info below.</p>
                <p>
                    <label>New Room: </label>
                    <input type="checkbox" id="newRoom" class="info-input" value="1">
                </p>
                <p id="roomRow">
                    <label>Room ID: </label>
                    <input type="text" id="myRoomId" class="info-input" maxLength="6" placeholder="Room ID">
                </p>
                <p>
                    <label>User Name: </label>
                    <input type="text" id="myName" class="info-input" maxLength="20" placeholder="Please input your name">
                </p>
                <button id="submitInfo" class="act-btn3">Done</button>
            </div>
        </div>
        <!-- select room dialog [end] -->

        <!-- toast [start] -->
        <div id="toast"></div>
        <!-- toast [end] -->
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
    $(function(){
        var _userId, _roomId, _userName;

        var msgHTML = '<li class="msg-item">'
            + '<div class="user-info">'
            + '<span>###username###</span>'
            + '<span>(###userid###)</span>'
            + '</div>'
            + '<div class="msg-content">###content###</div>'
            + '</li>';

        /* 信息输入框 [start] */
        $('#newRoom').click(function(){
            if(this.checked){
                $('#roomRow').addClass('hidden');
            }else{
                $('#roomRow').removeClass('hidden');
            }
        });
        $('#submitInfo').click(function(){
            // TODO - validate
            $.ajax({
                url: '/select',
                data: {
                    'newRoom': $('#newRoom').get(0).checked ? $('#newRoom').val() : '0',
                    'myRoomId': $('#myRoomId').val(),
                    'myName': $('#myName').val(),
                },
                dataType: 'json',
                success: function(rs){
                    $('#newRoom').removeAttr('checked');
                    $('#myRoomId').val('');
                    $('#myName').val('');
                    init(rs.data);
                    // TODO
                },
                error: function(){
                    $('#selectRoom').addClass('hidden');
                    // TODO
                }
            })
        });
        /* 信息输入框 [end] */

        /* 聊天窗口 [start] */
        $('#leaveBtn').click(function(){
            $.ajax({
                url: '/end',
                data: {
                    'userId': _userId,
                    'roomId': _roomId,
                },
                dataType: 'json',
                success: function(rs){
                    toast('正在退出...');
                    setTimeout(function(){
                        location.reload();
                    }, 3000);
                },
                error: function(){
                    toast('正在退出...');
                    setTimeout(function(){
                        location.reload();
                    }, 3000);
                }
            });
        });
        $('#myMsg').click(function(){
            ;
        });
        $('#submitBtn').click(function(){
            var content = $('#myMsg').val();
            // TODO - validate
            $('#myMsg').attr('readonly', true).addClass('freeze');
            $.ajax({
                url: '/send',
                data: {
                    'sender': _userId,
                    'content': $('#myMsg').val(),
                },
                dataType: 'json',
                success: function(rs){
                    if(rs.data && rs.status === 0){
                        $('#myMsg').val('').removeAttr('readonly').removeClass('freeze');
                        $('#msgList').append(msgHTML
                            .replace('###username###', _userName)
                            .replace('###userid###', _userId)
                            .replace('###content###', content));
                    }else{
                        $('#myMsg').removeAttr('readonly').removeClass('freeze');
                        toast(rs.errorMsg || '发送失败，请重试！');
                    }
                },
                error: function(){
                    $('#myMsg').removeAttr('readonly').removeClass('freeze');
                    toast('发送失败，请重试！');
                }
            });
        });
        /* 聊天窗口 [end] */

        function init(data){
            _userId = data.userId;
            _roomId = data.roomId;
            _userName = data.myName;
            $('#selectRoom').addClass('hidden');
            $('#roomId').text(data.roomId);
            $('.room-info, #leaveBtn').removeClass('hidden');
            setInterval(checkMsg, 5000);
        }

        function toast(str){
            // TODO - 添加Deferred
            console.log('toast: '+str);
            $('#toast').text(str).addClass('show-toast');
            setTimeout(function(){
                $('#toast').text('').removeClass('show-toast');
            }, 3000);
        }

        function checkMsg(){
            $.ajax({
                url: '/check',
                data: {
                    'userId': _userId,
                },
                dataType: 'json',
                success: function(rs){
                    if(rs.data && rs.data.messages){
                        for(var i=0; i<rs.data.messages.length; i++){
                            $('#msgList').append(msgHTML
                                .replace('###username###', rs.data.messages[i].senderName)
                                .replace('###userid###', rs.data.messages[i].senderId)
                                .replace('###content###', rs.data.messages[i].content));
                        }
                    }
                },
                error: function(){}
            })
        }
    })
    </script>
</body>
</html>